{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "corejs": 3,
        "useBuiltIns": "usage",
        "targets": {
          "browsers": "last 2 versions"
        }
      }
    ],
    "@babel/preset-typescript",
    "@babel/preset-react"
  ],
  "plugins": [
    "babel-plugin-idx",
    "@babel/plugin-syntax-dynamic-import",
    ["@babel/plugin-proposal-class-properties", { "loose": true }],
    "react-hot-loader/babel",
    [
      "import",
      {
        "libraryName": "antd",
        "libraryDirectory": "es",
        "style": "css"
      }
    ],
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "@": "./src/",
          "@/*": "./src/*"
        }
      }
    ]
  ]
}
